.ignatka {
  color: rgb(92, 213, 253);
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  font-size: 330%;
  margin-bottom: 0%;
  margin-top: 20%;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
}

p a {
  color: rgb(125, 131, 243);
  transition: 0.3s;
}

.container button {
  color: rgb(92, 213, 253);
  border-color: rgb(92, 213, 253);
  transition: 0.3s;
}

.container button:hover {
  background-color: rgb(82, 195, 232);
  transition: 0.3s;
}

.tinkoff {
  margin-top: 3%;
  font-size: 100%;
}

.container .b1 {
  border-color: rgb(210, 232, 244);
  color: white;
  border-radius: 15px;
}

.container .b1 b {
  color: rgb(165, 216, 243);
}

.container .b1:hover {
  background-color: grey;
}

.container a {
  text-decoration: none;
}

.error {
  margin-top: 20%;
  color: red;
  font-size: 500%;
}

h3 {
  color: red;
}
